html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.fixation {
  width: 100%;
  position: fixed;
}

#backyard-tabs .fixation {
  top:204px;
}

.inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#menu {
  padding: 8px;
  background: #222;
  color: #fff;
}

#menu h1 {

  color: #fff;
  margin: 4px;
  font-weight: bold;
  font-size: 20px;
}

#backyard-header{
  background: #fff;
  height: 150px;
}


#backyard-timer {
  font-family: "7barSPBd";
  font-size: 35px;
  text-align: center;
}

p#time {
  margin: 0;
  font-size: 2em;
}

#backyard-button {
  position: relative;
  margin: 0;
}

#backyard-button button {
  width: 80px;
  height: 40px;
}

#button-player {
  position: absolute;
  top: 30px;
  left: 16px;
}

#time-selector {
  position: absolute;
  top: 38px;
  left: 120px;
}

#button-timer-set {
  position: absolute;
  top: 30px;
  left: 250px;
}

#notify {
  position: absolute;
  top: 90px;
  left: 16px;
}

#backyard-talks {

}

.backyard-talk {
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  height: auto;
  background: #eeeeee;
  padding: 12px;
}

.backyard-buttons {

}

.backyard-buttons button {
  margin: 2px 0;
  width: 6em;
}

.talk-title{
  font-size: 40px;
  font-family: "03SmartFontUI";
}

.talk-teamname{
  font-weight: bold;
  color: #676767;
}

.talk-members ul {
  margin: 0px;
}

#talk-img img{
  max-width: 100px;
  height: auto;
}

#backyard-tabs{


}

#empty{
  width: 100%;
  height: 236px;
}

#tab{
  margin: 0 0 -1px 0;
}

.tabs a{
  width: 5em; 
  margin: 0px 1px 0px 0px; padding: 3px;
  text-align: center;
  line-height: 0;
}

.tabs {
  position: relative;
  margin: 0 0 -1px 0;
}


.tabs-menu p {
  margin: 0;
  height: 32px;
  background: #ffffff;
}


.tab1{
  position: absolute;
  left: 0;
  text-decoration: none;
  text-align: center;
  width: 50%;
  padding: 4px;
  background: #5892b0;
  color: #ffffff;
}

.tab2{
  position: absolute;
  right: 0;
  text-decoration: none;
  text-align: center;
  width: 50%;
  padding: 4px;
  background: #e39999;
  color: #ffffff;
}

#tab-yet{
  border-left: 10px solid #70aac8;
  border-right: 10px solid #70aac8;
  border-bottom: 10px solid #70aac8;
}

#tab-done{
  border-left: 10px solid #e39999;
  border-right: 10px solid #e39999;
  border-bottom: 10px solid #e39999;
}
