body {
  background: #FFF;
  font-family: "Lato", Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #111;
  text-decoration: none;
}

#menu {
  padding: 8px;
  background: #222;
  color: #fff;
}

#menu h1 {
  color: #fff;
  margin: 4px;
  font-weight: bold;
  font-size: 20px;
}

#menu p {
  margin: 4px;
  font-size: 20px;
}

#flash {
  padding: 0.3em 1em;
  color: #fff;
}

#flash a {
  font-weight: bold;
  color: #edb087;
}

#flash a:hover {
  color: #eaa270;
}

#flash p {
  margin: 0.5em 0.3em;
}

.flash-message {
  background: #1f8dd6;
}

.flash-error {
  background: #d61f32;
}

#header {
  padding: 10px;
  background: #000;
  font-size: 40px;
  color: white;
  text-align: center;
}

#header h1 {
  margin: 4px;
}

#header h4 {
  margin: 4px;
}

#links {
  margin: 10px 10px;
}

#event-details {
  margin: 10px 10px;
  background: white;
}

#talk_details {
  margin: 10px 10px;
  padding: 1px 10px;
  background: #E6E6E6;
  border: gray solid 1px;
}

#talk_details h2{
  margin-top: 5px;
  margin-bottom: 5px;
}
#talk_details h3{
  margin-top: 5px;
  margin-bottom: 5px;
}

#timer-header {
  margin: 10px 10px;
  padding: 10px;
  padding-left: 30px;
  font-size: 40px;
}

.talk-row {
  margin-bottom: 10px;
}

.talk {
  margin: 10px 10px;
  background: #e6e6e6;
}

.talk h2 {
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.talk-about {
  height: 180px;
  overflow: hidden;
}

.talk-thum {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.talk-header {
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.talk-header h3 {
  color: #717171;
  margin: 0;
  font-size: 0.8em;
}

#event-new {
  margin: 10px 10px;
  background: white;
  font-size: 20px;
}

#talk-new {
  margin: 10px 10px;
}

.photo-size{
  max-width: 200px;
}
