 <!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset=UTF-8>
  <title>fmfes</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
{% include 'header.html' %}
  <div id="links">
    {# <p><a class="pure-button" href="/events/new">新規イベントの作成</a></p> #}
  </div>
  <div id="event-details">
    <p>
      <b>FMSのプログラミング発表会を円滑に進めるための便利ツールです！</b><br>
      全プレゼンの一覧の閲覧はもちろん、過去の発表会の振り返りにも活用できます。<br>
    </p>
    <p><b>開発メンバー</b></p>
    <ul>
      <li><a href="http://twtiter.com/14d5pg/">伊藤大智</a></li>
      <li><a href="http://twtiter.com/tkgdisco/">原健太</a></li>
      <li>高田勝也</li>
      <li>神山拓史</li>
      <li>鈴木勇気</li>
    </ul>
    <p>編集URLを忘れてしまった、削除したい、などなにか要望がありましたら、開発メンバーのTwitterにreplyするか、mactkg [あっと] gmail.com まで連絡ください。</p>
  </div>
  <div id="talks">
    {% for event in events %}
    {% if loop.index0%3 == 0 %}
    <div class="talk-row pure-g">
    {% endif %}
      <div class="talk-container pure-u-1 pure-u-md-1-3">
        <div class="talk">
          <div class="talk-header">
            <a href="/events/{{ event.id }}"><h2>{{ event.title }}</h2></a>
            <a href="/events/{{ event.id }}"><h3>{{ event.subtitle }}</h3></a>
          </div>
          <div class="talk-about">
            {% if event.img_url %}
            <a href="/events/{{ event.id }}"><img class="talk-thum" src="{{ event.img_url }}"></a>
            {% else %}
            <a href="/events/{{ event.id }}"><img class="talk-thum" src="/img/noimg.png"></a>
            {% endif %}
          </div>
        </div>
      </div>
    {% if loop.index0%3 == 2 %}
    </div>
    {% elseif loop.last %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</body>
</html>
