<html>
<head>
  <meta charset="utf-8">
  <title>Routing</title>
  
  <link href="style.css" rel="stylesheet" type="text/css">
  
</head>
<body>
  <h2>Routing</h2>
  <h3>front</h3>
  <ul>
    <li><a href="/events/0">/events/0</a></li>
    <li><a href="/events/0/edit">/events/0/edit</a></li>
    <li><a href="/events/new">/events/new</a></li>
    <li><a href="/presentations/1">/presentations/1</a></li>
    <li><a href="/presentations/1/edit">/presentations/1/edit</a></li>
    <li><a href="/presentations/new">/presentations/new</a></li>
  </ul>
  <h3>api</h3>
  <ul>
    <li><a href="/api/events/1">/api/events/1</a></li>
    <li><a href="/api/events/1/talks">/api/events/1/talks</a></li>
    <li><a href="/api/events/1/edit">/api/events/1/edit</a></li>
    <li><a href="/api/events/new">/api/events/new</a></li>
    <li><a href="/api/talks/1">/api/talks/1</a></li>
    <li><a href="/api/talks/1/edit">/api/talks/1/edit</a></li>
    <li><a href="/api/talks/new">/api/talks/new</a></li>
  </ul>
  <p>APIとりあえずあったら良さそうなの全部載せたけどなんか全然同じでマジでこんなに必要なのかという気がしてきた。あとAPIとかURLは具体的にもう少し考慮したほうがいいと思ってるのでtumblrとかtwitterとかsoundcloudとか参考にしてカッコいいの作りたい</p>
  <p>あとpresentaions長くてだるいのでtalksに変えたらいいかなという気分です</p>
</body>
</html>